.flex{
    display: flex;
}
.w-50{
    width: 50%;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.justify-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.bg-yellow{
    background-color: #FBFF3E;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
}
.juntos{
    height: 95vh;
    width: 100%;
    background-image: url("../img/echica_2_mask_1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.juntos h2, .juntos span{
    width: 30vw;
}
ul > li{
   margin: 0 15px 0px 15px; 
}
.custom-shape-divider-bottom-1603856416 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1603856416 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 198px;
}

.custom-shape-divider-bottom-1603856416 .shape-fill {
    fill: #FBFF3E;
}
.img-busca-container{
    width: 60%;
    border-radius: 20px;
}
.busca{
    padding: 30px 0 30px 0;
}